<?xml version="1.0"?>
<launch>
  <!-- co2 -->
  <node name="co2_node" pkg="francor_co2" type="co2_node">
  </node>
  <!-- genius front -->
  <include file="$(find francor_launch)/launch/camera_genius.launch" />
  <!-- genius back -->
  <include file="$(find francor_launch)/launch/camera_genius_back.launch" />

  <!-- orbec 3d cam (only rgb)-->
  <!--include file="$(find francor_launch)/launch/camera_astra.launch" /-->

  <!-- sick tim -->
  <!--include file="$(find francor_launch)/launch/sick_tim.launch" /-->

  <!-- topics to multiplex -->
  <arg name="front_cam_topic" default="front_cam/image_raw/compressed"/>
  <arg name="back_cam_topic"  default="back_cam/image_raw/compressed"/>

  <node name="mux_drive_img" pkg="topic_tools" type="mux"  args="drive_cam/compressed $(arg front_cam_topic) $(arg back_cam_topic)">
    <!--remap from="mux/selected" to="drive_cam/select"/--> 
  </node>

  <!-- sensor head (rosserial) -->
  <node name="serial_node_sensor_head" pkg="rosserial_python" type="serial_node.py" output="screen" respawn="false">
    <param name="port" value="/dev/ttyUSB1" />
    <param name="baud" value="57600" />
  </node>

  <!-- motor controller -->
  <node name="motor_controller_node" pkg="francor_motor_controller" type="motor_controller" output="log">
    <param name="plus_bogie_up"   type="double" value="0.1"/>
    <param name="speed_bogie_up"  type="double" value="0.2"/>
    <param name="climp_boost"     type="double" value="0.4"/>
  </node>

  <!-- thermal -->
  <!--node name="seek_thermo" pkg="seekthermal_ros" type="seekthermal_ros_node" respawn="true"/-->
</launch>
