<launch>

  <!-- orbec 3d cam (only rgb)-->
  <!-- <include file="$(find francor_launch)/launch/camera_astra.launch" /> -->
  <node name="hazmat_startup_script" pkg="francor_launch" type="launch_docker_hazmat.sh" />
  <node name="motion_startup_script" pkg="francor_launch" type="launch_docker_motion.sh" />
  <!-- <node name="motion2_startup_script" pkg="francor_launch" type="launch_docker_motion2.sh /> -->
  <node pkg="seekthermal_ros" type="seekthermal_ros_node" name="seekthermalRosNode" output="screen">
		<rosparam file="$(find seekthermal_ros)/config/seekthermal_ros.yaml" command="load" />
	</node> 
</launch>
